<div class="grow-appear">
  <div class="dep-middle-row">
    <div class="row">
      <h1 class="center thin">DEPARTMENTS</h1>
    </div>
    <div class="row">
      <a ui-sref="accounting"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-1.jpg">
        <h3> Department of Accounting</h3>
        <p>Bringing together internationally renowned academics who research and teach a wide range of topics, with a unique emphasis on corporate governance, taxation, and critical issues in accounting.</p>
      </div></a>
      <a ui-sref="banking"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-2.jpg">
        <h3> Department of Banking and Finance</h3>
        <p>Researching a range of accounting and finance topics, with a unique emphasis on corporate governance, contemporary accounting issues, computational finance, and financial risk in the banking industry.</p>
      </div></a>
      <a ui-sref="decision"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-3.jpg">
        <h3> Department of Decision Analytics and Risk</h3>
        <p>Combining excellence in management sciences and decision analysis to work with major international companies and educate future specialists across industry and commerce.</p>
      </div></a>
      <a ui-sref="marketing"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-4.jpg">
        <h3> Department of Digital and Data Driven Marketing</h3>
        <p>Focusing on the challenges of the digital economy to understand the impact of technologies and innovative developments.</p>
      </div></a>
      <a ui-sref="human"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-5.jpg">
        <h3> Department of HRM and Organisational behaviour</h3>
        <p>Gaining new insights in the areas of leadership and change through the lens of work-based relationships applied at many levels, including individual, team and organisation.</p>
      </div></a>
      <a ui-sref="entrepreneurship"><div class="col s2 dep-info">
        <img  class="dep-img" src="/uploads/dep-6.jpg">
        <h3> Department of Strategy Innovation and Entrepreneurship</h3>
        <p>Providing world-leading expertise on innovation and enterprise with a particular focus on its international dimensions, sustainability, and corporate social responsibility.</p>
      </div></a>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="row footer-menu">
    <div class="col s1 center">
      <a ui-sref="home"><i class="fa fa-home fa-5x" aria-hidden="true" id="home"></i></a>
      <div class="menu-btn thin" >HOME</div>
    </div>
    <div class="col s10">
    </div>
    <div class="col s1 center">
      <a ui-sref="home"><i class="fa fa-undo-alt fa-5x" aria-hidden="true" id="back"></i></a>
      <div class="menu-btn thin" >BACK</div>
    </div>
  </div>
</div>
