<div class="grow-appear">
  <div class="dep-middle-row">
    <div class="row">
      <h1 class="center thin">DEPARTMENT OF STRATEGY, INNOVATION & ENTREPRENEURSHIP</h1>
    </div>
    <div style="clear: both;"></div>
    <div class="row ajx-ld-content" id="ajaxContainer">
      <div class="tile col grow-appear" ng-repeat="company in $ctrl.companies">
        <a ui-sref="company({ companyId: company._id })">
          <div class="comp-logo-container">
            <span class="" ng-if="company.complogo == 'noimage.jpg'">
              <img src="/uploads/avatar.png">
            </span>
            <span class="" ng-if="company.complogo !== 'noimage.jpg'">
              <img src="/uploads/logos/{{company.complogo}}">
            </span>
          </div>
          <p>{{company.compname}} {{company.stafflastname}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row footer-menu">
  <div class="col s1 center">
    <a ui-sref="home"><i class="fa fa-home fa-5x" aria-hidden="true" id="home"></i></a>
    <div class="menu-btn thin" >HOME</div>
  </div>
  <div class="col s10 alphabet">
    <div class="sort-cont">
      <a ui-sref="depentr-sort-group-a" class="sort-groups">A</a><a ui-sref="depentr-sort-group-b" class="sort-groups">B</a><a ui-sref="depentr-sort-group-c" class="sort-groups">C</a><a ui-sref="depentr-sort-group-d" class="sort-groups">D</a><a ui-sref="depentr-sort-group-e" class="sort-groups">E</a><a ui-sref="depentr-sort-group-f" class="sort-groups">F</a><a ui-sref="depentr-sort-group-g" class="sort-groups">G</a><a ui-sref="depentr-sort-group-h" class="sort-groups">H</a><a ui-sref="depentr-sort-group-i" class="sort-groups">I</a><a ui-sref="depentr-sort-group-j" class="sort-groups">J</a><a ui-sref="depentr-sort-group-k" class="sort-groups">K</a><a ui-sref="depentr-sort-group-l" class="sort-groups">L</a><a ui-sref="depentr-sort-group-m" class="sort-groups">M</a>
    </div>
    <div class="sort-cont"><a ui-sref="depentr-sort-group-n" class="sort-groups">N</a><a ui-sref="depentr-sort-group-o" class="sort-groups">O</a><a ui-sref="depentr-sort-group-p" class="sort-groups">P</a><a ui-sref="depentr-sort-group-q" class="sort-groups">Q</a><a ui-sref="depentr-sort-group-r" class="sort-groups">R</a><a ui-sref="depentr-sort-group-s" class="sort-groups">S</a><a ui-sref="depentr-sort-group-t" class="sort-groups">T</a><a ui-sref="depentr-sort-group-u" class="sort-groups">U</a><a ui-sref="depentr-sort-group-v" class="sort-groups">V</a><a ui-sref="depentr-sort-group-w" class="sort-groups">W</a><a ui-sref="depentr-sort-group-x" class="sort-groups">X</a><a ui-sref="depentr-sort-group-y" class="sort-groups">Y</a><a ui-sref="depentr-sort-group-z" class="sort-groups">Z</a>
    </div>
  </div>
  <div class="col s1 center">
    <a ui-sref="departments"><i class="fa fa-undo-alt fa-5x" aria-hidden="true" id="back"></i></a>
    <div class="menu-btn thin" >BACK</div>
  </div>
</div>
</div>
