<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
</ul>
<div class="grow-appear">
  <div class="row home-title">
    <div class="col s12 center">
      <h1 class="home-title-one thin">WELCOME</h1>
      <h2 class="home-title-two">TOUCH TO USE</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center home-menu">
      <a ui-sref="staffdirectory" class="waves-effect waves-light btn-large">Staff Directory</a><a ui-sref="leadership" class="waves-effect waves-light btn-large">Business School Executives</a><a ui-sref="departments" class="waves-effect waves-light btn-large">Departments</a>
    </div>
  </div>
</div>